doctype html
html
    head
        link(rel='stylesheet' href='stylesheets/dashboard.css')
        script(src='javascripts/menuDash.js')
        script(src='javascripts/redirectVari.js')
        // DA SISTEMARE
        link(rel="icon" href="/images/logoEggs/normale.jpg")
    body
        .menu-l
            img.logo(src='images/logoEggs/normale.jpg')
            .indicatore(style='top: 100px')
            .iconeCentrali
                .logo1
                    button.bottoneL1(onclick="menu(1)")
                        img(class="homeLogo" src="images/dashboard/home.svg")
                .logo2
                    button.bottoneL2(onclick="menu(2)")
                        img(class="graLogo" src="images/dashboard/grafico2.svg")
                .logo3
                    button.bottoneL3(onclick="menu(3)")
                        img(class="tabLogo" src="images/dashboard/elaborati.svg")
                .logo4
                    button.bottoneL4(onclick="menu(4)")
                        img(class="aggTabLogo" src="images/dashboard/aggElaborati.svg")
            .iconeBasse
                .impostazioniDiv
                    img(class="impostazioni" onclick="menu(5)" src="images/dashboard/impostazioni.svg")
                .loguotDiv
                    img(class="logout" onclick="move('home')" src="images/dashboard/logout.svg")
        .destra
            .imp
                header.header
                    .titoloDivImp
                        a.titolo Impostazioni:
                    button(onclick="menu(5)").chiudi
                        hr.linea1
                        hr.linea2
            .manu-s
                .account(href='#')
                    a.nomeAccount= nomeUtente
                    .immagneAccount(style="background-image: url('images/user/noUserImg.svg');")
            .main
                .sezioni
                    .sezionePrincipale
                        .titoloDiv
                            a.titolo Home:
                    .sezioneInfo
                        .titoloDiv
                            a.titolo Info:
                    .sezioneElaborati
                        .titoloDiv
                            a.titolo Elaborati:
                        table.tabellaElaborati
                            tr.tbe1
                                th.tbe2h Nome:
                                th.tbe2h Autore:
                                th.tbe2h File:
                                th.tbe2h Data upload:
                            each i in elaborati
                                tr.tbe1
                                    td.tbe2= i.name
                                    td.tbe2= i.creator
                                    td.tbe2
                                        a.tbeFile(href="${i.filePath}") elaborato
                                    td.tbe2= i.uploadDate
                    .sezioneAgg
                        .titoloDiv
                            a.titolo Aggiungi elaborati:
                        
                .sezioneLaterale
